<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Restaurant Locator</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4-rc2/foundation.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
  <div id='root'></div>
  <script src="/javascripts/bundle.js"></script>
  <script src="/javascripts/app.js"></script>
</body>
</html>
