<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Restaurant Locator</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4-rc2/foundation.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
  <div id='root'></div>
  <script src="/javascripts/bundle.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9mAlxkvAm5qO4TCibWRieqEfzlbBeAew&libraries=places" async defer></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
</body>
</html>
