#root {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  height: 100%;
}

.columns {
  display: flex;
  justify-content: center;
  height: 100%;
}

.columns .columns {
  padding: 0;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.result-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.result-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.result-info a {
  color: black;
}

.fa-yelp {
  color: #D32323;
  margin-right: 10px;
}

.yelp-link {
  margin: 10px;
}

form {
  width: 95%;
  margin: auto;
  text-align: center;
  height: 95%;
}

form div {
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

input[type='text'] {
  border-radius: 5px;
}

input.dollar {
  display: none;
}

label.dollar {
  float: right;
  padding: 10px;
  margin: 0;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.dollar:checked ~ label.dollar {
  color: #4CAF50;
  transition: all .25s;
}

input.dollar-5:checked ~ label.dollar {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.dollar-1:checked ~ label.dollar { color: #F62; }

label.dollar:hover { transform: rotate(-15deg) scale(1.3); }


i.fa-map-marker span {
  margin-left: 10px;
}

.current-location {
  font-family: FontAwesome;
}

.current-location::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #0095FF;
}
.current-location:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #0095FF;
   opacity:  1;
}
.current-location::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #0095FF;
   opacity:  1;
}
.current-location:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #0095FF;
}
